<div class="row">
  <div class="col-md-6">
    <h3>pw.x input</h3>
    <ul>
      <li>&control card</li>
      <ul>
        <li>calculation: A string describing the task that will be performed but for the 
          purposes of this tutorial we will only be using 'scf'
        </li>
        <li>prefix: Prepended to input/output file names and extremely important that file 
          name is unique and the same in the gipaw input file
        </li>
        <li>pseudo_dir: Directory that contains the pseudopotential files 
        </li>
        <li>outdir: Temporary output directory
        </li>
      </ul>
    </ul>
    <ul>
      <li>&system card</li>
      <ul>
        <li>ibrav: The bravais-lattice structure of the system 
        </li>
        <li>celldm(#): Based on the bravais-lattice structure
          <ul>
            <li>1 = a</li>
            <li>2 = b/a</li>
            <li>3 = c/a</li>
            <li>4 = cos(bc)</li>
            <li>5 = cos(ac)</li>
            <li>6 = cos(ab)</li>
          </ul>
        </li>
        <li>nat: Number of atoms in the unit cell
        </li>
        <li>ntyp: Number of types of atoms in the unit cell
        </li>
        <li>ecutwfc: Kinetic eneryg cutoff (Ry) for the wavefunctions
          <ul>
            <li>It is normal to start off with 90.0 but then to find the convergence for the 
              energy
            </li>
          </ul>
        </li>
      </ul>
    </ul>
    <ul>
      <li>ATOMIC_SPECIES card</li>
      <p>
        This is a 3 column list of the atom type, mass of the atomic species, and
        the file containing the pseudopotential for this species:
      </p>
      <p>
        X   Mass_X    PseudoPot_X
      </p>
    </ul>
    <ul>
      <li>ATOMIC_POSITIONS {XXXX} card: the card has several description options and it is 
        based on the units for the atomic postions
      </li>
      <p> </p>
      <p>
        This is a 4 column list of the atom type and then its x, y, z atomic positons:
      </p>
      <p>
        X   x   y   z
      </p>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>gipaw.x input</h3>
    <p>&inputgipaw card</p>
      <ul>
        <li>job: A string describing the task that will be performed but for the 
          purposes of this tutorial we will only be using 'nmr'
          <ul>
            <li>Types of jobs: 
              <ul>
                <li>
                  nmr: magnetic susceptibility & sheilding tensors
                </li>
                <li>efg: electric field gradients (EFGs)</li>
                <li>g_tensor: electron paramegnetic resonance (EPR) g-tensor</li>
                <li>hyperfine: hyperfine couplings</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>prefix: Prepended to input/output file names and extremely important that file 
          name is unique and the same in the pw.x input file
        </li>
        <li>tmp_dir: Temporary output directory
        </li>
      </ul>
  </div>
</div>
